body {
    /*background-color: dimgray;*/
    background-image : url('../resources/menuimages/loginbackground.jpg');
    background-repeat: no-repeat; /* 이미지 반복 제어 */
    background-size: cover; /* 이미지를 화면에 맞게 조절 */
}

.input-text{
    font-size: large;
    margin-top: 10px;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
}

input::placeholder {
    font-weight: bold;
    text-align: center;
    font-size: medium;
}

#container {
    background-color: lightgray;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 40px 40px 40px 40px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}